.footer {
    width: 100vw;
    height: 280px;
    background: #282828;
    margin-top: -75px;
    padding-top: 107px;
    text-align: center;
}

.footer__text {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 8px;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline-block;
    margin: 16px 8px 8px 0px;
}

.footer ul li img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}
