.texto1 {
    width: 50%;
    margin-top: 64px;
}

.texto1 h1 {
    width: 80%;
}

.texto1__double {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.texto1__double p {
    text-align: justify;
}

@media only screen and (max-width: 1200px) {
    .texto1 h1 {
        width: 80%;
    }
}

@media only screen and (max-width: 1100px) {
    .texto1 {
        width: 70%;
        margin-top: 48px;
    }

    .texto1 h1 {
        width: 90%;
    }
}

@media only screen and (max-width: 950px) {
    .texto1 {
        width: 80%;
        margin-top: 36px;
    }

    .texto1 h1 {
        width: 100%;
        margin-bottom: 16px;
    }

    .texto1__double {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 16px;
    }
}
